# ðŸ§¼ Data Preprocessing Example

This notebook shows how to use the data loader and preprocessing functions.

In [1]:
import sys, pathlib
sys.path.insert(0, str(pathlib.Path("/Users/jeffreychapple/Repositories/my_data_science_project/notebooks/preprocessing_example.ipynb").resolve().parents[1]))  # add project root


from src.data_loader import load_data
from src.preprocessing import clean_data

In [2]:
# Load raw data
df = load_data('/Users/jeffreychapple/Repositories/my_data_science_project/data/raw/people.csv')
df.head(30)

Loaded 30 records from /Users/jeffreychapple/Repositories/my_data_science_project/data/raw/people.csv

    id     name  age   income city
0    1    Alice   25  50000.0   NY
1    2      Bob   30  60000.0   LA
2    3  Charlie   35  70000.0   NY
3    4    David   40  80000.0   SF
4    5      Eve   22  45000.0   LA
5    6    Frank   28  52000.0   SF
6    7    Grace   33  75000.0   NY
7    8     Hank   45  90000.0   LA
8    9      Ivy   29  58000.0   SF
9   10     Jack   31      NaN   NY
10  11     Kate   27  48000.0   LA
11  12     Liam   38  82000.0   SF
12  13      Mia   24  47000.0   NY
13  14     Noah   36  76000.0   LA
14  15   Olivia   23  46000.0   SF
15  16     Paul   34  73000.0   NY
16  17    Quinn   26  51000.0   LA
17  18   Rachel   39  81000.0   SF
18  19      Sam   32  69000.0   NY
19  20     Tina   21  44000.0   LA
20  21      Uma   37  78000.0   SF
21  22  Vincent   41  85000.0   NY
22  23    Wendy   20  43000.0   LA
23  24   Xander   42  88000.0   SF
24  25     Yara   43  89000.0   NY
25  26     Zack   44  92000.0   LA
26  27    Aaron   46  95000.0   SF
27  28    Bella   19  42000.0   NY
28  29     Carl   47  97000.0   LA
29  30    Diana   48  98000.0   SF

In [3]:
# Clean data
df_clean = clean_data(df)
df_clean.head(30)

    id     name  age   income city
0    1    Alice   25  50000.0   NY
1    2      Bob   30  60000.0   LA
2    3  Charlie   35  70000.0   NY
3    4    David   40  80000.0   SF
4    5      Eve   22  45000.0   LA
5    6    Frank   28  52000.0   SF
6    7    Grace   33  75000.0   NY
7    8     Hank   45  90000.0   LA
8    9      Ivy   29  58000.0   SF
9   11     Kate   27  48000.0   LA
10  12     Liam   38  82000.0   SF
11  13      Mia   24  47000.0   NY
12  14     Noah   36  76000.0   LA
13  15   Olivia   23  46000.0   SF
14  16     Paul   34  73000.0   NY
15  17    Quinn   26  51000.0   LA
16  18   Rachel   39  81000.0   SF
17  19      Sam   32  69000.0   NY
18  20     Tina   21  44000.0   LA
19  21      Uma   37  78000.0   SF
20  22  Vincent   41  85000.0   NY
21  23    Wendy   20  43000.0   LA
22  24   Xander   42  88000.0   SF
23  25     Yara   43  89000.0   NY
24  26     Zack   44  92000.0   LA
25  27    Aaron   46  95000.0   SF
26  28    Bella   19  42000.0   NY
27  29     Carl   47  97000.0   LA
28  30    Diana   48  98000.0   SF

In [4]:
# Save processed data
df_clean.to_csv('/Users/jeffreychapple/Repositories/my_data_science_project/data/processed/people_clean.csv', index=False)